body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* รวมพื้นหลัง Gradient และลวดลาย */
    background-image: 
    
        linear-gradient(135deg, #FFDFD3,#FAF3E0,#FFADAD);
        



}
    

    


/* Navbar */
.navbar {
    background-color: #ecb9cb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.nav-link {
    color: #C05A7D;
    font-weight: 500;
}

.nav-link:hover {
    color: #C05A7Df3; 
}

nav {
    background-color: #FFDFD3;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover {
    color: #FFADAD;
    border-bottom: 2px solid #FFADAD;
}

/* Button search */
button.btn-dark {
    background-color: #C05A7D;
    border-color: #C05A7D;
}

button.btn-dark:hover {
    background-color: #e642c8;
}


.cta-button {
    background-color: #FFADAD;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #FF7070;
}


h3 {
    background: linear-gradient(90deg, #FFDFD3, #FFADAD);
    text-align: center;
    padding: 10px;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #993939;
    margin: 0;
    
}


/* การ์ดหนังสือ */
.card {
    border: none;
    transition: transform 0.3s ease;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.2rem;
    color: #333;
}

.card-text {
    color: #555;
}

.book-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color:white;  /* พื้นหลังกล่องสีขาว */
    border-radius: 15px; /* ขอบกลมของกล่องเนื้อหา */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
}

.book-card img {
    max-width: 100%;
    border-radius: 10px;
}

.book-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.book-card p {
    color: #666;
    font-size: 0.9em;
}



/* Text-center */
.text-center {
    text-align: center;
}

/* กำหนดให้ภาพเต็มความกว้างของจอ */
.container img {
    width: 100%;
    height: auto; 
}


/* ส่วนท้าย */

blockquote {
    background: linear-gradient(90deg, #FFDFD3, #FFADAD);
    text-align: center;
    padding: 20px;
}

blockquote {
    font-family: 'Arial', sans-serif;
    color: #993939;
    margin: 0;
}


